In [1]:
# -*- coding: utf-8 -*- 
from google.cloud import translate
import pandas as pd
import time

/usr/lib/python3/dist-packages/requests/__init__.py:80: RequestsDependencyWarning: urllib3 (1.24.1) or chardet (3.0.4) doesn't match a supported version!
  RequestsDependencyWarning)

In [2]:
df = pd.read_csv('cyclone.csv')

Converting all the tweets into string

In [3]:
tweets = []
for tweet in df['tweet']:
    tweets.append(str(tweet))

Language conversion to english

In [4]:
d = {}
dlist = []
translate_client = translate.Client()

In [54]:
import time
count = 0
for tweet in tweets[20000:24000]:
    result = translate_client.translate(tweet,target_language='en')
    count = count + 1
    dlist.append(result['translatedText'])
    if count == 500:
        count = 0
        time.sleep(120)

In [55]:
print(len(dlist))
len(tweets)

24000

24600

In [65]:
csv_df = pd.DataFrame(dlist,columns=['tweet'])
csv_df.tail()

                                                   tweet
23995  #GajaCyclone #Seeman # Nagai # Vedaranyam @Naa...
23996  #Cajabial #GajaCyclone Help https://twitter.co...
23997  Cyclone Gaja: PM Narendra Modi Assures All Pos...
23998  People in other places are not able to communi...
23999  The storm of the Gaza Strip in Trichy! - Fligh...

In [61]:
csv_df.to_csv('english_translated1.csv')

In [62]:
cdvv = pd.read_csv('english_translated1.csv')

In [63]:
cdvv.head()

   Unnamed: 0                                              tweet
0           0  If #GajaCycloneRelief Fund is not sufficient a...
1           1  Gajah Storm: The relief of the missing 5000 be...
2           2  Railway minister #PiyushGoyal: In solidarity w...
3           3  Pls mudinja help panuge, pls retweet help panr...
4           4  The ecstasy of the Vikatan news - the youth wh...